body {
  @media @tablet {
    padding: 8px;
  }
}

header.splash {
  max-width: 800px;
  margin: auto;
  position: relative;

  h1 {
    margin: 0;
  }

  img.hexes {
    position: relative;
  }

  .deck {
    bottom: 10%;
    width: 100%;
    font-size: 24px;
    font-style: italic;
    margin-top: 0;
  }
}

footer.byline {
  font-size: 16px;
  font-family: @df-sans;
  margin: auto;
  padding: 48px 100px;
  background: @df-light-gray;

  .content {
    margin: auto;
    max-width: 700px;
  }

}