header.splash {
  max-width: 800px;
  margin: auto;
  position: relative;

  h1 {
    margin: 0;
  }

  img.hexes {
    position: relative;
    margin-top: -10%;
  }

  .deck {
    position: absolute;
    bottom: 10%;
    left: 0px;
    width: 100%;
    font-size: 24px;
    font-style: italic;
    background: rgba(255, 255, 255, .4);

    @media @mobile {
      position: relative;
      bottom: auto;
      padding: 8px;
      margin-top: -80px;
    }
  }
}

footer.byline {
  font-size: 16px;
  font-family: @df-sans;
  margin: auto;
  padding: 48px 100px;
  background: @df-light-gray;

  .content {
    margin: auto;
    max-width: 700px;
  }
}