.cuisine-player {
  margin: 16px auto;
  padding: 16px 0;
  display: block;

  // border-top: 1px solid @df-light-gray;
  // border-bottom: 1px solid @df-light-gray;

  h2 {
    margin: 8px;
    font-size: 19px;
    display: none;
  }

  hr {
    display: none;
    width: 50%;
    border-color: @df-dark-gray;
    border-width: 2px;
    border-style: solid;
    margin: 24px auto;
  }

  .chatter {
    text-align: center;
    font-family: @df-sans;
    font-size: 16px;
  }
}

.video-container.pending {
  position: relative;

  &::after {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 4px 16px;
    border-radius: 4px;
    font-family: @df-sans;
    background: @df-dark-gray;
    color: @df-off-white;
    content: "VIDEO";
    z-index: 999;
    pointer-events: none;
  }
}

.aspect-outer {
  width: 100%;

  .aspect-inner {
    padding-bottom: percentage(9 / 16);
    height: 0;
    position: relative;
  }

  .video-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.playlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: @df-sans;
  font-size: 15px;
  text-align: center;

  li.playlist-item {
    display: inline-block;
    vertical-align: text-top;
    width: 100% / 7;
    max-width: 160px;
    padding: 8px;
    clear: both;
    overflow: hidden;
    font-size: 15px;
    line-height: 1.4;

    @media @tablet {
      max-width: auto;
      width: 100% / 4;
    }

    @media @mobile {
      width: 100% / 2;
    }

    [data-enabled="true"] & {
      cursor: pointer;

      &:hover {
        background: @df-light-gray;
      }

      &.active {
        background: @df-dark-gray;
        color: @df-off-white;
      }

    }

    .image-frame {
      position: relative;

      &::after {
        @size: 20px;
        content: "▸";
        position: absolute;
        text-align: center;
        top: 4px;
        right: 4px;
        font-size: 26px;
        color: white;
        text-shadow: 0px 0px 2px black;
        background: @df-dark-gray;
        border-radius: 100%;
        width: @size;
        height: @size;
        line-height: @size;
        padding: 4px;
      }
    }

    img {
      display: block;
      margin: auto;
    }

    .caption {
      display: block;
      padding-top: 8px;
    }
  }

  [data-enabled="false"] & {
    opacity: .5;
  }
}
