<h2>Gallery: Northwest cuisine in pictures</h2>
<div class="gallery">
  <% grunt.data.csv.nwcuisine.forEach(function(row) { %>
  <a href="./assets/gallery/<%= row.filename %>.jpg" class="gallery-item" title="<%= row.caption %>">
      <img src="./assets/thumbs/<%= row.filename %>.jpg" class="thumb">
  </a>
  <% }) %>
</div>
<div class="gallery-overlay">
  <button class="previous">&laquo;</button>
  <button class="next">&raquo;</button>
  <div class="modal">
    <img>
    <div class="caption">
      <div class="text"></div>
      <cite class="credit">(John Lok / The Seattle Times)</cite>
    </div>
  </div>
</div>