<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <main class="cuisine-player">
      <div class="video-container aspect-outer">
        <div class="aspect-inner">
          <video
            data-account="1509317113"
            data-player="default"
            data-embed="default"
            id="player"
            class="video-js" controls>
          </video>
        </div>
      </div>
      <div class="playlist-container"></div>
    </main>

    <article class="markdown-text">
      <%= markdown.article %>
    </article>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
