<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>
   
    <%= t.include("partials/_ad.html", { type: "banner" }) %>
    <%= t.include("partials/_nav.html") %>

    <header class="splash">
      
      <h1>What is Pacific Northwest cuisine?</h1>
      <p class="chatter">
        From the mountains to the Sound to the fields, how our best chefs define the way we eat now.
      </p>

      <div class="cuisine-player">
        <div class="video-container aspect-outer pending">
          <div class="aspect-inner">
            <video
              data-account="1509317113"
              data-player="default"
              data-embed="default"
              id="player"
              class="video-js" controls>
            </video>
          </div>
        </div>
        <hr>
        <div class="playlist-container"></div>
      </div>
    </header>

    <article class="article-text">
      <cite class="byline">
        By <a href="http://www.seattletimes.com/author/bethany-jean-clement">Bethany Jean Clement</a><br>
        Photos by <a href="http://www.seattletimes.com/author/john-lok">John Lok</a><br>
        Video by <a href="http://www.seattletimes.com/author/corinne-chin">Corinne Chin</a>
      </cite>
      <%= markdown.article %>
    </article>

    <footer class="authors">

      <div class="content">
        Bethany Jean Clement is The Seattle Times' food writer. Reach her at 206-464-2050 or <a href="mailto:bclement@seattletimes.com">bclement@seattletimes.com</a>. On Twitter <a href="http://twitter.com/bjeanclement">@BJeanClement</a>. John Lok is a Times staff photographer. Corinne Chin is a Times staff videographer. 
      </div>

    </footer>

    <%= t.include("partials/_dontMiss.html", {
      data: [{
        link: "http://www.seattletimes.com/life/food-drink/a-very-northwest-holiday-recipes-for-your-thanksgiving-feast/",
        image: "./tease/holiday-meals.jpg",
        head: "Holiday recipes with Northwest ingredients"
      }, {
        link: "http://www.seattletimes.com/pacific-nw-magazine/the-seattle-times-top-10-new-restaurants/",
        image: "./tease/top-restaurants.jpg",
        head: "Top 10 new restaurants"
      }, {
        link: "http://www.seattletimes.com/pacific-nw-magazine/heres-how-to-eat-healthy-during-the-holidays/",
        image: "./tease/healthy-eating.jpg",
        head: "How to eat healthy during the holidays"
      }, {
        link: "http://www.seattletimes.com/pacific-nw-magazine/the-seattle-times-50-best-wines-of-2015/",
        image: "./tease/top-wines.jpg",
        head: "The Seattle Times’ 50 best wines of 2015"
      }]
    }) %>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
